/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- #f3b76a
- #f17500
- #0d6e00
- #6d00fb
- #dbff39
- #74c9f1
- #fb4040

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/

* {
  font-family: "Copperplate";
  color: white;
  font-size: large;
}

body {
  background-image: url("pics/jordanshoes.jpg");
  background-size: cover;
  background-position: stretch;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

h1 {
  background: linear-gradient(to bottom, #fb4040, #74c9f1);
  width: 98%;
  margin: 20px auto;
  border-radius: 20px;
  height: 100px;
  text-align: center;
  align-content: center;
  font-size: 3rem;
  color: whitesmoke;
  text-decoration: underline;
}



#jordans-1,
#jordans-2 {
  height: 600px;
  width: 800px;
}

#jordans-1 {
  box-shadow: 5px 5px 10px #74c9f1;
  margin: 0 0 0 10vw;
}

#jordans-2 {
  box-shadow: -5px 5px 10px #fb4040;
  margin: 0 0 0 60vw;
}

#jordans-1-desc {
  background-color: #74c9f1;
  font-size: 2rem;
  width: 795px;
  height: auto;
  border: solid 4px #fb4040;
  border-radius: 10px;
  padding: 5px;
  margin: 20px 0 10px 10%;
}

#jordans-2-desc {
  background-color: #fb4040;
  font-size: 2rem;
  width: 795px;
  height: auto;
  border: solid 4px #74c9f1;
  border-radius: 10px;
  padding: 5px;
  margin: 20px 0 10px 60%;
}

a {
  font-size: inherit;
}
